extends template.pug

include employee_mixins.pug

mixin employee_name()
	if !content
		|Invalid Record
	else if 'message' in content
		|#{content.message}
	else
		- var employee = content.employee
		|#{employee.first_name} #{employee.last_name}

block title
	|Employee Record: 
	+employee_name()


append head
	style.
		h3
		{
			margin-bottom: 0
		}

block body
	if !content
		|Invalid Record
	else if 'message' in content
		|#{content.message}
	else
		- const employee = content.employee
		- const address = content.address
		- const photo = content.photo
		- const compensation = content.compensation
		- const health = content.health
		- const family = content.family

		.left
			+employee_list(employee)

			h3 Address
			+address_list(address)

			h3 Family
			+family_list(family)

			h3 Compensation
			+compensation_list(compensation)

			h3 Health
			+health_list(health)

		.right: +photo(photo)
		
