doctype html
html(lang="en")
	head
		title EIS - 
			block title
		block head
			style.
				#content {
					width: 100%;
				}
				#content::after { 
					content: "";
					display: block; 
					clear: both;
				}
				.left {
					float: left;
					width: auto;
					padding-right: 10px;
				}
				.right {
					float: right;
				}

				.clear { 
					display: block; 
					clear: both;
				}
				table {
					border-collapse:collapse;
				}
				td, th {
					border: 1px solid black;
					padding: 5px;
				}
				ul, li
				{
					margin-top: 0;
				}
				ul
				{
					padding-left: 1em;
				}


	body

		#content
			h2
				block title
			block body
	
		#footer
			block footer
